<div id="galeria">

  <div class="item">
    <img onclick="abrirProducto('relex')"
         src="./assets/relex.jpeg"
         alt="relex">
    <h3>Relay</h3>
  </div>

  <div class="item">
    <img onclick="abrirProducto('resitecia')"
         src="./assets/resitecia.jpeg"
         alt="resitecia">
    <h3>Resistencia</h3>
  </div>

  <div class="item">
    <img onclick="abrirProducto('capasito')"
         src="./assets/capacioto.jpeg"
         alt="capasito">
    <h3>Capacitor</h3>
  </div>

  <div class="item">
    <img onclick="abrirProducto('integrado1')"
         src="./assets/integrado.jpeg"
         alt="integrado1">
    <h3>Circuito Integrado</h3>
  </div>

  <div class="item">
    <img onclick="abrirProducto('relex1')"
         src="./assets/relex.jpeg"
         alt="relex1">
    <h3>Relay Industrial</h3>
  </div>

  <div class="item">
    <img onclick="abrirProducto('sensodeluz')"
         src="./assets/sensodeluz.jpeg"
         alt="sensodeluz">
    <h3>Sensor de Luz</h3>
  </div>

  <div class="item">
    <img onclick="abrirProducto('sensotemperatura')"
         src="./assets/sensoteperatura.jpeg"
         alt="sensotemperatura">
    <h3>Sensor de Temperatura</h3>
  </div>

  <div class="item">
    <img onclick="abrirProducto('termostato')"
         src="./assets/temostato.jpeg"
         alt="termostato">
    <h3>Termostato</h3>
  </div>

  <div class="item">
    <img onclick="abrirProducto('transistor25')"
         src="./assets/transitolm25.jpeg"
         alt="transistor25">
    <h3>Transistor 2N2222</h3>
  </div>

</div>


<div id="modalProducto" class="modalProducto">

  <div class="modalContenido">

    <span id="cerrarProducto" class="cerrarProducto">&times;</span>

    <img id="modalImagen" src="" alt="">

    <h2 id="modalNombre"></h2>

    <p id="modalPrecio"></p>

    <p id="modalDescripcion"></p>

    <button onclick="agregarDesdeModal()">
      Agregar al carrito
    </button>

  </div>

</div>

</div>

  </div>
  