<button id="abrirLogin">Iniciar sesión</button>

<div id="loginModal" class="modal">
  <div class="contenidoModal">

    <span id="cerrarLogin">&times;</span>

    <h2>Iniciar sesión</h2>

    <input id="usuarioLogin" type="text" placeholder="Usuario">

    <input id="passwordLogin" type="password" placeholder="Contraseña">

    <button id="btnLogin">
      Entrar
    </button>

    <hr>

    <h2>Registrarse</h2>

    <input id="usuarioRegistro" type="text" placeholder="Nuevo usuario">

    <input id="passwordRegistro" type="password" placeholder="Contraseña">

    <button id="btnRegistro">
      Registrarse
    </button>

    <p id="mensajeLogin"></p>

  </div>
</div>